.mobile-nav{
    display: flex;
    flex-direction: column;
    position: relative;

}
.mobile-nav a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    margin: 10px 0;
    margin-left: 30px;
    margin-top: 20px;

    
}
summary{
    list-style: none;
    position:absolute;
    top: 50px;
    left: 30px;
    font-size: 30px;
    cursor: pointer;
}

.hamburger{
    display:flex;
    position:relative;
}
.hamburger[open] > summary{
    display:none;
}